<h1>Dashboard</h1>

  <!-- Summary -->
  <table border="1" cellpadding="5" cellspacing="1" width="100%">
    <colgroup>
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col />
    </colgroup>
    <tr class="summary">
      <td colspan="8"><%= t('.balance') %></td>
      <td align="right"><%= color_coded_number(@entries.sum(&:time_diff)) %></td>
    </tr>
  </table>

<% @entries.group_by { |e| e.date.year }.each do |year, year_entries| %>
  <h2><%= t('.year') %> <%= year %></h2>

  <% year_entries.group_by { |e| e.date.cweek }.each do |week, week_entries| %>
    <h3><%= t('.week') %> <%= week %></h2>

    <!-- Entries -->
    <table border="1" cellpadding="5" cellspacing="1" width="100%">
      <colgroup>
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col />
      </colgroup>
      <tr>
        <th><%= t('.date') %></th>
        <th><%= t('.type') %></th>
        <th><%= t('.start_time') %></th>
        <th><%= t('.end_time') %></th>
        <th><%= t('.time_working') %></th>
        <th><%= t('.time_break') %></th>
        <th><%= t('.time_is') %></th>
        <th><%= t('.time_should') %></th>
        <th><%= t('.time_diff') %></th>
      </tr>
      <%= render partial: 'entries/entry', collection: week_entries, as: :entry %>
    </table>

    <!-- Summary -->
    <table border="1" cellpadding="5" cellspacing="1" width="100%">
      <colgroup>
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col />
      </colgroup>
      <tr class="summary">
        <td colspan="2"><%= t('.sum') %></td>
        <td colspan="6"></td>
        <td align="right"><%= color_coded_number(week_entries.sum(&:time_diff)) %></td>
      </tr>
    </table>
  <% end %>
<% end %>
