<h2 class="my-4">Dashboard</h2>

<!-- Summary -->
<table class="table table-bordered">
    <colgroup>
      <col />
      <col width="20%" />
    </colgroup>
  <tr class="summary">
    <td><%= t(".balance") %></td>
    <td class="text-end"><%= color_coded_number(@entries.sum(&:time_diff)) %></td>
  </tr>
</table>

<!-- Add -->
<%= render "entries/form" %>

<!-- Data -->
<%= turbo_frame_tag :entries do %>
  <%= render "entries/list" %>
<% end %>
