<h2 class="my-4">Dashboard</h2>

<!-- Summary -->
<%= turbo_frame_tag :summary do %>
  <%= render "dashboard/summary" %>
<% end %>

<!-- Add/Edit -->
<%= turbo_frame_tag :entry, src: new_entry_path do %>
  <%= render "application/loading" %>
<% end %>

<!-- Data -->
<%= turbo_frame_tag :entries, src: entries_path do %>
  <%= render "application/loading" %>
<% end %>
