<!DOCTYPE html>
<html>
  <head>
    <title>Timesheet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <h1 class="my-4">Timesheet</h1>

      <%= render "application/header" %>

      <div id="flash">
        <%= render "application/flash" %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
